@model EF.Core.Model.CourseStudent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Display)
        </dd>

        <dt>
            Is enrolled in @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Display)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
